$yellow-color:#ffc300ff;
$yellow-dark-color:#ffc300;
$blue-color:#157be8ff;
$primary:#167ce9;
$black-color:#1b212c;
$black-dark-color:#333;
$white-color:#fff;
$gay-light-color:#ccc;
$white-color-c:#ffffffcc;
$dark-color:#343a40;
$gray-color:#606e7f;
$gray-light-color:#96a1af;


