/* Reset CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.open {
  display: block !important;
}

.text-center {
  text-align: center !important;
}

.jc-center {
  justify-content: center;
}

.jc-arrow {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.w-3 {
  width: 30%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-6 {
  flex: 0 0 16.6666%;
  max-width: 16.6666%;
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-3 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.pd-0-15 {
  padding: 0 15px;
}

.pd-8-16 {
  padding: 8px 16px;
}

.pd-6-12 {
  padding: 6px 12px;
}

.pd-16-24 {
  padding: 16px 24px;
}

.pd-60 {
  padding: 60px;
}

.pd-30 {
  padding: 30px;
}

.pd-24 {
  padding: 24px;
}

.pd-5 {
  padding: 5px;
}

.pd-15 {
  padding: 15px;
}

.pd-16 {
  padding: 16px;
}

.pd-v45 {
  padding: 45px 0;
}

.pd-h15 {
  padding: 0 15px;
}

.pd-h16 {
  padding: 0 16px;
}

.pt-105 {
  padding-top: 105px;
}

.pb-105 {
  padding-bottom: 105px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.heading-text {
  line-height: 1.4;
  color: #1b212c;
  font-weight: 400;
  font-size: 20px;
}

.span-text {
  color: #96a1af;
  display: inline-blockx;
  line-height: 1.8;
  font-weight: 400;
  font-size: 15px;
}

.describe-text {
  font-size: 16px;
  color: #606e7f;
  line-height: 1.8;
  font-weight: 400;
}

.title-text {
  color: #1b212c;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.4;
}

.container {
  position: relative;
  width: 100%;
}

#header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.navbar-menu {
  display: none;
}
.navbar-menu span {
  color: #96a1af;
}

.navbar-list {
  display: flex;
}

.navbar-item {
  display: inline-block;
}

.navbar-link {
  padding: 14px 20px;
  font-size: 16px;
  color: #1b212c;
  text-transform: uppercase;
  line-height: 1.8;
}

.navbar-link:hover {
  color: #1b212c;
}

.slider {
  background-image: url("https://acmjinzai.com/main_master/images/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.slider .silder-content {
  height: 600px;
}

.slider .title-text {
  color: #fff;
}

.slider .heading-text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

.slider .overlay {
  background-image: linear-gradient(to right, #08070a, rgba(62, 62, 35, 0.9294117647) 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.7;
}

.slider2 .heading-text,
.slider2 .span-text {
  font-size: 13px;
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.slider2 .span-text {
  opacity: 0.7;
}

.form {
  background-color: #157be8;
  border-radius: 30px;
}

.btn {
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
}

.bg-blue {
  background-color: #157be8;
  border: 1px solid #157be8;
}

.bg-yellow {
  background-color: #ffc300;
  border: 1px solid #ffc300;
}

.bg-blue:hover {
  background: none;
  border: 1px solid #157be8;
  color: #157be8;
}

.bg-yellow:hover {
  border: 1px solid #ffc300;
  background: none;
  color: #ffc300;
}

#contact {
  background-color: #eeeeee;
}

.form {
  background-color: #157be8;
  border-radius: 30px;
}

.form-control {
  height: 58px;
  display: block;
  color: #fff;
  line-height: 1.5;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  width: 100%;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  border-color: none;
  outline: none;
}

#contact .heading-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
}

.form-group {
  margin-top: 5px;
  height: 58px;
  display: block;
  width: 100%;
}

.contact a {
  background: #333;
  color: #fffae8;
  text-transform: none;
  text-decoration: none;
  font-size: 19.5px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
}

footer {
  background-image: url("https://acmjinzai.com/main_master/images/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

footer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.95;
  background: #1b212c;
}

.footer-copyright {
  font-size: 16px;
  color: #b9babd;
  position: relative;
}

footer .title-text {
  color: #fff;
  font-size: 18px;
}

footer .describe-text {
  color: #b9babd;
  line-height: 1.5;
}

footer .span-text {
  color: #b9babd;
  font-size: 12px;
  display: block;
}

.mr-4 {
  margin-right: 4px;
}

.mr-10 {
  margin-right: 10px;
}

.info-icon i {
  font-size: 28px;
  color: #b9babd;
}

.info-icon a {
  padding: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.footer-license {
  border: 2px solid #b9babd;
  padding: 15px;
}

.footer-license .describe-text {
  font-size: 14.66px;
  color: #b9babd;
  line-height: 1.8;
}

.text-u {
  text-transform: uppercase;
}

.bg-yld {
  background-color: #ffc300;
}

.bg-wl {
  background-color: rgb(255, 250, 232);
}

.bg-w {
  background-color: #fff;
}

.bg-grl {
  background-color: #ccc;
}

.content-info .heading-text {
  color: #167ce9;
}

.text-dark {
  color: #343a40;
  font-weight: 700;
  line-height: 1.8;
}

.text-white {
  color: #fff !important;
}

.bd-sd {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.content-counter .number {
  color: #1b212c;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.8;
  font-weight: 400;
  display: block;
}

.content-counter .number-describe {
  color: #96a1af;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.8;
  display: block;
}

.news-hot .title-text,
.content-order .title-text,
.content-counter .title-text {
  font-size: 32px;
}

.news-old .title-text {
  font-size: 24px;
}

.news-old .heading-text {
  font-size: 18px;
}

.news-old .span-text {
  font-size: 12px;
}

.content-require .heading-text {
  font-size: 28px;
}

.content-require .describe-text {
  font-size: 15px;
  color: #1b212c;
}

.content-feedback .avartar {
  position: relative;
}

.content-new,
.feedback {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.content-feedback img {
  border-radius: 50%;
  position: absolute;
  top: -90px;
  right: 34%;
}

.avartar span {
  background-color: #167ce9;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  left: 54%;
  bottom: -20px;
  position: absolute;
}

.avartar i {
  margin-top: 10px;
  color: #fff;
}

.content-feedback .name {
  color: #157be8;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.content-feedback .position {
  color: #96a1af;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}

.bd-b {
  border-bottom: 2px solid #eceef3;
}

.content-news .span-text {
  border-bottom: 2px solid #eceef3;
}

.news-hot .describe-text,
.content-order .describe-text,
.content-news .describe-text {
  font-size: 15px;
}

.content-feedback .title-text,
.content-link-school .title-text,
.content-news .title-text {
  font-size: 30px;
}

.news-hot .describe-text,
.news-hot .heading-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.row-items {
  display: flex;
  align-items: stretch;
}

.content-nav {
  margin-top: -235px;
}

.content-nav a,
.content-nav .span-text {
  display: block;
}

.content-nav .describe-text {
  color: #157be8;
  font-size: 15px;
}

.active a {
  color: #157be8 !important;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a {
  padding: 10px;
  display: block;
  color: #157be8;
  border: 1px solid #157be8;
  border-radius: 50%;
  margin-left: 4px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* PC*/
@media (max-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-list {
    display: none;
    flex-basis: 100%;
    transition: all 0.3s ease;
  }
  .navbar-list .navbar-item {
    display: block;
  }
  .navbar-list .navbar-item .navbar-link {
    color: #96a1af;
  }
  #header .navbar-menu {
    display: flex;
  }
  .close {
    display: none;
  }
  .col-3 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .col-6 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 768px) {
  .close-2 {
    display: none;
  }
  .col-6,
  .col-7,
  .col-8,
  .col-4,
  .col-75,
  .col-3,
  .col-2 {
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content-nav .item-1 {
    order: 2;
  }
  .content-nav .item-1 {
    order: 1;
  }
  .content-info .col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .content-order .col-3 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .content-order .col-6 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/*# sourceMappingURL=app.css.map */
