<footer class=" d-flex jc-center">
    <div class="overlay"></div>
    <div class="container pt-105  d-flex">

        <div class=" col-4 pd-h15   ">
            <a href="/"><img src="https://acmjinzai.com/main_master/images/logo/logo-footer.png" alt=""></a>
            <p class="title-text mb-40">CÔNG TY TNHH NHÂN LỰC ACM</p>

            <div class="mt-48">
                <ul class="info-icon mb-16">
                    <li class=" navbar-item ">
                        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li class=" navbar-item">
                        <a href="https://www.facebook.com/acmjinzai"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class=" navbar-item">
                        <a href="/"><i class="fa-solid fa-globe"></i></a>
                    </li>
                </ul>

                <ul class="">
                    <li class=" describe-text  mb-16"><i class="mr-4 fa-solid fa-building"></i> Số 5,
                        Đường Số 9, P.Tân Thuận Đông, Quận 7, HCM, Việt Nam
                    </li>
                    <li class=" describe-text  mb-16 "><i class="mr-4 fa-solid fa-phone"></i> (+84) 28
                        62762606
                    </li>
                    <li class=" describe-text  mb-16"><i class="mr-4 fa-regular fa-envelope"></i>contact@acmjinzai.com
                    </li>
                    <li class=" describe-text  mb-16"><i class="mr-4 fa-solid fa-envelope-open-text"></i>(+84) 28
                        38733268</li>
                    <li class=" describe-text  mb-16"><i class="mr-4 fa-solid fa-globe"></i>
                        www.acmjinzai.com
                    </li>

                </ul>
            </div>

        </div>
        <div class=" col-3 pd-h15 ">
            <h2 class="title-text mb-40">Tin tức gần đây</h2>
            <div class="">
                <div class="  mb-16">
                    <p class="describe-text mb-8 "> <i class="mr-4 fa-solid fa-angle-right"></i>Những kỹ thuật giúp bạn
                        trở
                        thành một
                        điều dưỡng viên giỏi</p>
                    <span class="span-text">02/02/2024</span>
                </div>

                <div class="">
                    <p class="describe-text mb-8"><i class="mr-4 fa-solid fa-angle-right"></i>Những kỹ thuật giúp bạn
                        trở
                        thành một điều
                        dưỡng viên giỏi</p>
                    <span class="span-text">02/02/2024</span>
                </div>
            </div>

        </div>
        <div class=" col-6 pd-h15  ">
            <h2 class="title-text mb-40">
                DANH MỤC
            </h2>
            <ul>
                <li class=" mb-16"><a href="/" class="describe-text text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Trang
                        chủ</a></li>
                <li class=" mb-16"><a href="/order" class="describe-text text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Đơn
                        hàng </a></li>
                <li class=" mb-16"><a href="/nurse" class="describe-text text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Điều
                        dưỡng</a>
                </li>
                <li class=" mb-16"><a href="/news" class="describe-text text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Tin
                        tức</a></li>

            </ul>
        </div>
        <div class=" col-4 pd-h15 text-center">
            <div class="footer-license">

                <img src="https://acmjinzai.com/main_master/images/logo/icon-footer.png" alt="" width="40" height="60">
                <p class="describe-text">1132/LĐTNXH-GP</p>
                <p class="describe-text">Giấy phép đưa người lao động đi làm việc ở nước ngoài</p>
            </div>
        </div>
    </div>


    <div class="footer-copyright row text-center mb-105 mt-48">
        <p>Copyright © 2020 ACM Co., Ltd. All righspan-text reserved.</p>
    </div>
</footer>