<footer class=" d-flex jc-center">
    <div class="overlay"></div>
    <div class="  pt-105">
        <div class="container row d-flex">

            <div class=" col-4 pd-h15  footer-info ">
                <a href="#"><img src="https://acmjinzai.com/main_master/images/logo/logo-footer.png" alt=""></a>
                <p class="ft-title mb-40">CÔNG TY TNHH NHÂN LỰC ACM</p>

                <div class="mt-48">
                    <ul class="info-icon mb-16">
                        <li class="info-item navbar-item ">
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li class="info-item navbar-item">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="info-item navbar-item">
                            <a href=""><i class="fa-solid fa-globe"></i></a>
                        </li>
                    </ul>

                    <ul class="info-contact">
                        <li class="info-item tc  mb-16"><i class="mr-4 fa-solid fa-building"></i> Số 5,
                            Đường Số 9, P.Tân Thuận Đông, Quận 7, HCM, Việt Nam
                        </li>
                        <li class="info-item tc  mb-16 "><i class="mr-4 fa-solid fa-phone"></i> (+84) 28
                            62762606
                        </li>
                        <li class="info-item tc  mb-16"><i class="mr-4 fa-regular fa-envelope"></i>contact@acmjinzai.com
                        </li>
                        <li class="info-item tc  mb-16"><i class="mr-4 fa-solid fa-envelope-open-text"></i>(+84) 28
                            38733268</li>
                        <li class="info-item tc  mb-16"><i class="mr-4 fa-solid fa-globe"></i>
                            www.acmjinzai.com
                        </li>

                    </ul>
                </div>

            </div>
            <div class=" col-3 pd-h15 footer-news">
                <h2 class="ft-title mb-40">Tin tức gần đây</h2>
                <div class="news-list">
                    <div class="news-item  mb-16">
                        <p class="tc"> <i class="mr-4 fa-solid fa-angle-right"></i>Những kỹ thuật giúp bạn
                            trở
                            thành một
                            điều dưỡng viên giỏi</p>
                        <span class="ts">02/02/2024</span>
                    </div>

                    <div class="news-item">
                        <p class="tc"><i class="mr-4 fa-solid fa-angle-right"></i>Những kỹ thuật giúp bạn
                            trở
                            thành một điều
                            dưỡng viên giỏi</p>
                        <span class="ts">02/02/2024</span>
                    </div>
                </div>

            </div>
            <div class="col col-6 pd-h15  footer-category">
                <h2 class="ft-title mb-40">
                    DANH MỤC
                </h2>
                <ul>
                    <li class=" mb-16"><a href="" class="tc text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Trang
                            chủ</a></li>
                    <li class=" mb-16"><a href="" class="tc text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Đơn
                            hàng </a></li>
                    <li class=" mb-16"><a href="" class="tc text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Điều
                            dưỡng</a>
                    </li>
                    <li class=" mb-16"><a href="" class="tc text-u "><i class="mr-4 fa-solid fa-caret-right"></i>Tin
                            tức</a></li>

                </ul>
            </div>
            <div class="col col-4 pd-h15 text-center">
                <div class="footer-license">

                    <img src="https://acmjinzai.com/main_master/images/logo/icon-footer.png" alt="" width="40"
                        height="60">
                    <p>1132/LĐTNXH-GP</p>
                    <p>Giấy phép đưa người lao động đi làm việc ở nước ngoài</p>
                </div>
            </div>
        </div>


        <div class="footer-copyright row text-center mb-105 mt-48">
            <p>Copyright © 2020 ACM Co., Ltd. All rights reserved.</p>
        </div>
    </div>

</footer>