<header id="" class="pd-8-16 d-flex jc-center header">
    <div class="container ">
        <nav class="navbar ">
            <a href="/"><img src="https://acmjinzai.com/main_master/images/logo/logo.png" alt=""></a>


            <div id="" class="d-flex ai-center navbar-menu">
                <span>
                    <i class="fa-solid fa-bars mr4"></i>
                    MENU
                </span>
            </div>

            <ul class="navbar-list ai-center">
                <li class="navbar-item ">
                    <a class="navbar-link d-flex " href="/">Trang chủ</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="/introduce">Giới thiệu</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="/order">Đơn hàng</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex " href="/nurse">Điều dưỡng</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="/tintuc">Tin tức</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="#">
                        <img src="https://acmjinzai.com/main_master/images/flag/flagvn.png" alt=""></a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="#">
                        <img src="https://acmjinzai.com/main_master/images/flag/flagjp.png" alt=""></a>
                </li>
            </ul>

        </nav>
    </div>

</header>