<header id="header" class="pd-8-16">
    <div class="grid">
        <nav class="navbar d-flex pd-0-15">
            <a href="#"><img src="https://acmjinzai.com/main_master/images/logo/logo.png" alt=""></a>

            <ul class="navbar-list d-flex ai-center">
                <li class="navbar-item active">
                    <a class="navbar-link d-flex " href="/">Trang chủ</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="introduce">Giới thiệu</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="order">Đơn hàng</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex " href="nurse">Điều dưỡng</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="news">Tin tức</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="#">
                        <img src="https://acmjinzai.com/main_master/images/flag/flagvn.png" alt=""></a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link d-flex" href="#">
                        <img src="https://acmjinzai.com/main_master/images/flag/flagjp.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </div>

</header>