<div id="" class="d-flex jc-center ai-center slider slider2">
    <div class="overlay"></div>
    <div>
        <div class="container text-center">
            <div class="silder__content">
                <div class="mb-48">
                    <p class=""><a href="/" class="mr-10 heading-text">TRANG CHỦ</a><span class="span-text">{{pageCurrent}}</span>
                     </p>
                    <h1 class="title-text mb-24">{{title}}</h1>
                </div>
                
            </div>
        </div>

    </div>
</div>