<div id="slider" class="d-flex jc-center ai-center">
    <div class="overlay"></div>
    <div>
        <div class="container text-center">
            <div class="silder__content">
                <div class="mb-48">
                    <h1 class="title-text mb-24">ACM</h1>
                    <p class="heading-text">Một trong những công ty xuất khẩu lao động Nhật Bản uy tín và hàng đầu Việt Nam
                    </p>
                </div>
                <div class="slider__content-button">
                    <a class="btn pd-16-24 bg-blue">Ứng tuyển ngay</a>
                    <a class="btn pd-16-24 bg-yellow">Xem đơn hàng</a>
                </div>
            </div>
        </div>

    </div>
</div>