<div id="" class="slider  d-flex jc-center">
    <div class="overlay"></div>
    <div>
        <div class="container text-center d-flex jc-center">
            <div class="silder-content d-flex ai-center">
                <div class="col">
                    <div class="mb-48 ">
                        <h1 class="title-text mb-24">ACM</h1>
                        <p class="heading-text">Một trong những công ty xuất khẩu lao động Nhật Bản uy tín và hàng đầu
                            Việt Nam
                        </p>
                    </div>
                    <div class="row">
                        <a class="btn pd-16-24 bg-blue">Ứng tuyển ngay</a>
                        <a href="/oder" class="btn pd-16-24 bg-yellow">Xem đơn hàng</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>