<div class="nurse pt-105 pb-105 d-flex jc-center">
    <div class="container d-flex jc-center">
        <div class="news-hot col-75 pd-h15">
            <h2 class="title-text mb-16 pd-h15"> TIN TỨC ĐIỀU DƯỠNG NỔI BẬT</h2>
            <div class="d-flex jc-arrow">
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
                <div class="mb-40 col-3 pd-h15 ">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1"
                                src="https://acmjinzai.com/miraiuploads/h%E1%BB%8Dc%20vien/e77d3caa14aee4f0bdbf-min.jpg"
                                alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> 13/12/2023</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text">Đôi nét về đơn hàng gia công kim loại tại Nhật Bản</h3>
                            </a>
                            <p class="mb-16 describe-text">Gia công kim loại là đơn hàng tiêu biểu được nhiều lao động
                                lựa
                                chọn khi
                                xuất khẩu lao</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="news-old col-4  pd-h15">
            <h4 class="title-text mb-16">TIN TỨC CŨ HƠN</h4>
            <div class="mb-24">
                <div class="mb-8">
                    <a href="" class="heading-text">
                        Điều dưỡng viên - Những phẩm chất cần có
                    </a>
                </div>
                <div class="bd-b">
                    <a href="">
                        <span class="span-text"><i class="fa-regular fa-calendar"></i> 26/07/2022</span>
                    </a>
                </div>
            </div>
            <div class="mb-24">
                <div class="mb-8">
                    <a href="" class="heading-text">
                        Điều dưỡng viên - Những phẩm chất cần có
                    </a>
                </div>
                <div class="bd-b">
                    <a href="">
                        <span class="span-text"><i class="fa-regular fa-calendar"></i> 26/07/2022</span>
                    </a>
                </div>
            </div>
            <div class="mb-24">
                <div class="mb-8">
                    <a href="" class="heading-text">
                        Điều dưỡng viên - Những phẩm chất cần có
                    </a>
                </div>
                <div class="bd-b">
                    <a href="">
                        <span class="span-text"><i class="fa-regular fa-calendar"></i> 26/07/2022</span>
                    </a>
                </div>
            </div>
            <div class="mb-24">
                <div class="mb-8">
                    <a href="" class="heading-text">
                        Điều dưỡng viên - Những phẩm chất cần có
                    </a>
                </div>
                <div class="bd-b">
                    <a href="">
                        <span class="span-text"><i class="fa-regular fa-calendar"></i> 26/07/2022</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>